JWT_EXPIRED_IN=100D
JWT_SECRET_KEY=f5c501bd-1539-4b79-8eef-e579dfa4002a
MONGODB_URI=mongodb+srv://tien23851:LuxfRQ1bJEPu87I7@cluster0.yujka.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
CLOUDINARY_API_KEY=943319345323119
CLOUDINARY_API_SECRET=BNvyj80xxIks_8T5mlkTfoXmVFw